body{
	background-color: blue;
}

.button {
	background-color: green;
	border: none;
	color: blue;
	padding:200% 32%;
}

p{
	font-family: monospace;
}
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}