body{
	background-color: rgb(26,153,252);
}

.button {
	background-color: green;
	border: none;
	color: blue;
	padding:200% 32%;
}

p{
	font-family: monospace;
}
<<<<<<< HEAD
=======
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
>>>>>>> 7a4c8b5657543ec19392ecf1977dab0198608f7b
